body {
    background-color: rgb(47, 122, 209);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.418);
}

section {
    background: white;
    padding: 15px;
    border-radius: 10px;
    width: 400px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.397);
}

footer {
    color: white;
    text-align: center;
    margin-top: 50px;
    font-style: italic;
    text-shadow: 5px 5px 10px black;
}
div {
    text-align: center;
    padding: 8px;
}


